In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from datetime import datetime
%matplotlib inline

In [50]:
data=pd.read_excel("MonthlyData1991-2000_AllStocks.xlsx")
data

                      Ticker  Date/Time   Open   High    Low  Close  Volume
0      3P Land Holdings Ltd. 2000-01-31   3.52   4.10   2.92   3.11       9
1      3P Land Holdings Ltd. 2000-02-28   3.02   3.80   2.80   3.16       4
2      3P Land Holdings Ltd. 2000-03-27   3.16   3.16   2.10   2.22       1
3      3P Land Holdings Ltd. 2000-04-17   2.00   2.88   2.00   2.60       1
4      3P Land Holdings Ltd. 2000-05-15   1.95   1.95   1.95   1.95       1
...                      ...        ...    ...    ...    ...    ...     ...
44426      Zuari Global Ltd. 2000-08-28  26.90  27.90  24.20  26.70      25
44427      Zuari Global Ltd. 2000-09-25  27.10  27.10  21.60  22.30     105
44428      Zuari Global Ltd. 2000-10-30  21.00  22.55  19.30  20.00      46
44429      Zuari Global Ltd. 2000-11-27  21.40  26.80  18.80  25.25     249
44430      Zuari Global Ltd. 2000-12-25  25.00  30.00  23.00  26.60     174

[44431 rows x 7 columns]

In [51]:
for i in range(len(data)):
    data['Date/Time'][i]=data['Date/Time'][i].strftime('%Y-%m')

<ipython-input-51-d380795372d3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Date/Time'][i]=data['Date/Time'][i].strftime('%Y-%m')

In [52]:
data

                      Ticker  Date/Time   Open   High    Low  Close  Volume
0      3P Land Holdings Ltd. 2000-01-01   3.52   4.10   2.92   3.11       9
1      3P Land Holdings Ltd. 2000-02-01   3.02   3.80   2.80   3.16       4
2      3P Land Holdings Ltd. 2000-03-01   3.16   3.16   2.10   2.22       1
3      3P Land Holdings Ltd. 2000-04-01   2.00   2.88   2.00   2.60       1
4      3P Land Holdings Ltd. 2000-05-01   1.95   1.95   1.95   1.95       1
...                      ...        ...    ...    ...    ...    ...     ...
44426      Zuari Global Ltd. 2000-08-01  26.90  27.90  24.20  26.70      25
44427      Zuari Global Ltd. 2000-09-01  27.10  27.10  21.60  22.30     105
44428      Zuari Global Ltd. 2000-10-01  21.00  22.55  19.30  20.00      46
44429      Zuari Global Ltd. 2000-11-01  21.40  26.80  18.80  25.25     249
44430      Zuari Global Ltd. 2000-12-01  25.00  30.00  23.00  26.60     174

[44431 rows x 7 columns]

In [53]:
data.dropna(inplace=True)

In [54]:
date=data['Date/Time'].tolist()
d = []
[d.append(x) for x in date if x not in d]
d=sorted(d)
a=d[0]
b=d[len(d)-1]

In [55]:
df=pd.DataFrame()
df2=pd.DataFrame()
df3=pd.DataFrame()

In [56]:
df2['Date']=d
df['Date']=d
df3['Date']=d

In [57]:
dict={}
dict2={}
print(len(d))

75

In [58]:
i=0
while i <= (len(data)-1):
    t=data['Ticker'][i]
    ret=[]
    vol=[]
    start=data['Date/Time'][i]
    x=d.index(start)
    if start!=a: 
        x=d.index(start)
        for q in range(x):
            ret.append(-10000)
            vol.append(-10000)
    flag=0
    e=[]
    e=d[x:]
    dict[t]=data['Date/Time'][i]
    j=0
    while j < len(e)  :
        if j==0:
            ret.append(-1)
            vol.append(data['Volume'][i])
            j+=1
            i+=1
        else:
            if e[j]==data['Date/Time'][i]:
                ret.append( (data['Close'][i]-data['Close'][i-1])*100/(data['Close'][i-1]))
                vol.append(data['Volume'][i])
                dict2[t]=e[j]
                j+=1
                i+=1
            else:
                ret.append(-10000)
                vol.append(-10000)
                j+=1
        if i == len(data):
             break
    df[t]=np.array(ret)

In [59]:
cols=cols=df.columns
df[cols] = df[cols].replace(['-10000', -10000], np.nan)
df

,Date,3P Land Holdings Ltd.,21st Century Management Services Ltd.,3M India Ltd.,Aafloat Textiles (India) Ltd.,Aarti Drugs Ltd.,Aarti Industries Ltd.,Aban Offshore Ltd.,Abhayam Trading Ltd.,ABC Bearings Ltd. - (Amalgamated),...,Zenith Computers Ltd.,Zandu Realty Ltd. - (Amalgamated),Zenith Infotech Ltd.,Zenith Exports Ltd.,Zee Entertainment Enterprises Ltd.,Zillion Pharmachem Ltd.,ZF Steering Gear (India) Ltd.,Zodiac Clothing Company Ltd.,Zodiac-Jrd-Mkj Ltd.,Zuari Global Ltd.
0,1994-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1995-01-01,NaN,NaN,-1.000000,NaN,NaN,NaN,-1.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1995-02-01,NaN,NaN,-7.142857,NaN,NaN,NaN,0.956284,NaN,NaN,...,NaN,NaN,NaN,NaN,-1.000000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2000-08-01,9.243697,4.166667,-2.990159,-34.782609,-1.738473,11.038961,29.234973,-3.780069,-10.101010,...,27.566321,21.204819,-0.175336,26.656848,20.731369,NaN,-6.666667,26.576852,48.627451,0.564972
71,2000-09-01,-19.230769,19.200000,-4.588373,40.000000,-11.538462,-8.479532,-19.661734,-8.928571,-13.483146,...,-9.584087,5.533466,-4.098361,-13.953488,-14.295548,NaN,1.190476,-15.626512,-15.567282,-16.479401
72,2000-10-01,NaN,-37.583893,-13.535618,NaN,-11.478261,-6.070288,9.210526,-40.000000,NaN,...,-22.900000,-13.579278,-17.032967,-22.027027,-35.952700,NaN,1.176471,-6.995413,-14.062500,-10.313901
73,2000-11-01,-22.857143,7.526882,15.020810,NaN,17.387033,20.408163,75.903614,-1.960784,NaN,...,5.058366,8.083560,0.662252,-6.412478,-1.797534,NaN,-5.581395,-3.205919,-1.090909,26.250000
74,2000-12-01,23.456790,0.000000,8.429276,NaN,-7.949791,1.129944,-17.945205,-0.666667,NaN,...,-11.358025,-3.193277,-13.377193,NaN,-1.454416,NaN,0.985222,13.121019,2.205882,5.346535

In [60]:
t=list(dict)
x=list(dict.values())
y=list(dict2.values())

In [61]:
dict['Zuari Global Ltd.']

Timestamp('1997-01-01 00:00:00')

In [62]:
type(dict2['Zuari Global Ltd.'])

pandas._libs.tslibs.timestamps.Timestamp

In [63]:
ticker_index=[]
dict['Alsa Marine & Harvests Ltd.'], dict2['Alsa Marine & Harvests Ltd.']

(Timestamp('1997-01-01 00:00:00'), Timestamp('1997-10-01 00:00:00'))

In [64]:
len(x), len(y), len(t)

(1028, 1028, 1028)

In [70]:
x[0].split("-")

AttributeError: 'Timestamp' object has no attribute 'split'

In [65]:
new_x=[]
new_y=[]

In [71]:
for i in range(len(x)):
    p=x[i].split("-")
    q=y[i].split("-")
    if p[0]!=q[0]:
        if int(q[0])-int(p[0]) >3:
            new_x.append(x[i])
            new_y.append(y[i])
            ticker_index.append(i)
        elif int(q[0])-int(p[0]) == 3:
            if int(q[1])-int(p[1]) >=0:
                ticker_index.append(i)
                new_x.append(x[i])
                new_y.append(y[i])

AttributeError: 'Timestamp' object has no attribute 'split'

In [72]:
tickers=[]
for j in ticker_index:
    tickers.append(t[j])

In [73]:
len(tickers)

0

In [74]:
df=df[tickers]

In [23]:
df['Date']=d

C:\Users\chashah4\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
df=df.set_index('Date')

In [25]:
i=0
while i <= (len(data)-1):
    t=data['Ticker'][i]
    price=[]
    start=data['Date/Time'][i]
    x=d.index(start)
    if start!=a: 
        x=d.index(start)
        for q in range(x):
            price.append(-1)
    flag=0
    e=[]
    e=d[x:]
    j=0
    while j < len(e)  :
        if j==0:
            price.append(data['Close'][i])
            j+=1
            i+=1
        else:
            if e[j]==data['Date/Time'][i]:
                price.append(data['Close'][i])
                j+=1
                i+=1
            else:
                price.append(data['Close'][i])
                j+=1
        if i == len(data):
             break
    df3[t]=np.array(price)

In [26]:
i=0
while i <= (len(data)-1):
    t=data['Ticker'][i]
    price=[]
    start=data['Date/Time'][i]
    x=d.index(start)
    if start!=a: 
        x=d.index(start)
        for q in range(x):
            price.append(-1)
    flag=0
    e=[]
    e=d[x:]
    dict[t]=data['Date/Time'][i]
    j=0
    while j < len(e)  :
        if j==0:
            price.append(data['Close'][i])
            j+=1
            i+=1
        else:
            if e[j]==data['Date/Time'][i]:
                price.append(data['Close'][i])
                j+=1
                i+=1
            else:
                price.append(-1)
                j+=1
        if i == len(data):
             break
    df2[t]=np.array(price)

In [27]:
cols=cols=df3.columns
df3[cols] = df3[cols].replace(['-1', -1], np.nan)

In [28]:
cols=cols=df2.columns
df2[cols] = df2[cols].replace(['-1', -1], np.nan)

In [29]:
df2['Date']=d
df3['Date']=d
df3=df3.set_index('Date')

In [30]:
df2=df2.set_index('Date')

In [31]:
df.to_excel (r'X_All_Stocks.xlsx')

In [32]:
df2.to_excel (r'Price_All_Stocks.xlsx')

In [33]:
df_volatility=pd.DataFrame(index=df.index)

In [34]:
for j in range(len(tickers)):
    t=tickers[j]
    s=new_x[j]
    start= d.index(s) + 36
    e=new_y[j]
    end=d.index(e)
    while start!=end:
        df_volatility[t]=df[t].rolling(window=36).std()
        start+=1

In [35]:
df_volatility

,21st Century Management Services Ltd.,3M India Ltd.,Aafloat Textiles (India) Ltd.,Aarti Drugs Ltd.,Aarti Industries Ltd.,Aban Offshore Ltd.,Abhayam Trading Ltd.,ABC Bearings Ltd. - (Amalgamated),ABB India Ltd.,Abbott India Ltd.,...,Winsome Diamonds and Jewellery Ltd.,Winsome Yarns Ltd.,Wipro Ltd.,Yuken India Ltd.,Zandu Realty Ltd. - (Amalgamated),Zee Entertainment Enterprises Ltd.,ZF Steering Gear (India) Ltd.,Zodiac Clothing Company Ltd.,Zodiac-Jrd-Mkj Ltd.,Zuari Global Ltd.
Date,,,,,,,,,,,,,,,,,,,,,
1994-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000-08,NaN,14.628991,76.397170,21.491424,12.986631,14.341902,25.977144,16.605975,14.408101,10.744894,...,20.262081,NaN,34.813883,NaN,15.922872,28.539410,NaN,22.221039,27.130313,21.969772
2000-09,NaN,14.611380,75.987154,21.265699,13.105864,14.200798,25.951675,16.565988,14.531278,10.834228,...,19.946622,NaN,34.981771,NaN,15.918805,28.699421,NaN,22.407579,27.082378,21.983311
2000-10,NaN,14.878609,NaN,21.426030,12.681354,14.291773,26.810422,NaN,14.498040,10.836111,...,19.851110,NaN,35.241255,NaN,16.115302,29.898148,NaN,22.456880,27.171418,21.964313
2000-11,NaN,14.834840,NaN,21.516606,13.078821,19.228523,26.810041,NaN,14.787781,10.767181,...,19.487096,NaN,34.920619,NaN,16.125080,29.758384,NaN,22.356101,27.126137,22.472078
2000-12,NaN,14.847303,NaN,21.610191,12.634979,19.215286,26.764691,NaN,14.661900,10.916545,...,19.487039,NaN,34.982277,NaN,15.976542,29.482341,NaN,22.371483,27.062619,22.400374

In [36]:
# for i in tickers:
#     df_volatility[i]=df[i].rolling(window=36).std()

In [37]:
cols=df_volatility.columns

In [38]:
df_volatility[cols] = df_volatility[cols].replace(['0', 0], np.nan)
df_volatility

,21st Century Management Services Ltd.,3M India Ltd.,Aafloat Textiles (India) Ltd.,Aarti Drugs Ltd.,Aarti Industries Ltd.,Aban Offshore Ltd.,Abhayam Trading Ltd.,ABC Bearings Ltd. - (Amalgamated),ABB India Ltd.,Abbott India Ltd.,...,Winsome Diamonds and Jewellery Ltd.,Winsome Yarns Ltd.,Wipro Ltd.,Yuken India Ltd.,Zandu Realty Ltd. - (Amalgamated),Zee Entertainment Enterprises Ltd.,ZF Steering Gear (India) Ltd.,Zodiac Clothing Company Ltd.,Zodiac-Jrd-Mkj Ltd.,Zuari Global Ltd.
Date,,,,,,,,,,,,,,,,,,,,,
1994-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000-08,NaN,14.628991,76.397170,21.491424,12.986631,14.341902,25.977144,16.605975,14.408101,10.744894,...,20.262081,NaN,34.813883,NaN,15.922872,28.539410,NaN,22.221039,27.130313,21.969772
2000-09,NaN,14.611380,75.987154,21.265699,13.105864,14.200798,25.951675,16.565988,14.531278,10.834228,...,19.946622,NaN,34.981771,NaN,15.918805,28.699421,NaN,22.407579,27.082378,21.983311
2000-10,NaN,14.878609,NaN,21.426030,12.681354,14.291773,26.810422,NaN,14.498040,10.836111,...,19.851110,NaN,35.241255,NaN,16.115302,29.898148,NaN,22.456880,27.171418,21.964313
2000-11,NaN,14.834840,NaN,21.516606,13.078821,19.228523,26.810041,NaN,14.787781,10.767181,...,19.487096,NaN,34.920619,NaN,16.125080,29.758384,NaN,22.356101,27.126137,22.472078
2000-12,NaN,14.847303,NaN,21.610191,12.634979,19.215286,26.764691,NaN,14.661900,10.916545,...,19.487039,NaN,34.982277,NaN,15.976542,29.482341,NaN,22.371483,27.062619,22.400374

In [39]:
df_volatility.to_excel (r'Volatility_All_Stocks.xlsx')

In [40]:
tickers=df_volatility.columns

In [41]:
df_ann_volatility=pd.DataFrame().reindex_like(df_volatility)

In [42]:
for t in tickers:
    i=0
    while i<len(d):
        start=d[i]
        if df_volatility[t][start]!='NaN':
            df_ann_volatility[t][start]=df_volatility[t][start]*math.sqrt(12)
        i+=1

In [43]:
df_ann_volatility

,21st Century Management Services Ltd.,3M India Ltd.,Aafloat Textiles (India) Ltd.,Aarti Drugs Ltd.,Aarti Industries Ltd.,Aban Offshore Ltd.,Abhayam Trading Ltd.,ABC Bearings Ltd. - (Amalgamated),ABB India Ltd.,Abbott India Ltd.,...,Winsome Diamonds and Jewellery Ltd.,Winsome Yarns Ltd.,Wipro Ltd.,Yuken India Ltd.,Zandu Realty Ltd. - (Amalgamated),Zee Entertainment Enterprises Ltd.,ZF Steering Gear (India) Ltd.,Zodiac Clothing Company Ltd.,Zodiac-Jrd-Mkj Ltd.,Zuari Global Ltd.
Date,,,,,,,,,,,,,,,,,,,,,
1994-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000-08,NaN,50.676312,264.647560,74.448476,44.987008,49.681805,89.987465,57.524785,49.911125,37.221405,...,70.189906,NaN,120.598829,NaN,55.158447,98.863415,NaN,76.975938,93.982162,76.105522
2000-09,NaN,50.615304,263.227221,73.666541,45.400046,49.193008,89.899240,57.386266,50.337822,37.530868,...,69.097126,NaN,121.180411,NaN,55.144357,99.417709,NaN,77.622132,93.816108,76.152422
2000-10,NaN,51.541012,NaN,74.221943,43.929498,49.508154,92.874025,NaN,50.222683,37.537391,...,68.766263,NaN,122.079288,NaN,55.825045,103.570222,NaN,77.792913,94.124551,76.086613
2000-11,NaN,51.389393,NaN,74.535709,45.306364,66.609556,92.872707,NaN,51.226375,37.298610,...,67.505282,NaN,120.968574,NaN,55.858915,103.086068,NaN,77.443807,93.967697,77.845562
2000-12,NaN,51.432566,NaN,74.859899,43.768852,66.563704,92.715611,NaN,50.790311,37.816021,...,67.505082,NaN,121.182163,NaN,55.344364,102.129826,NaN,77.497091,93.747662,77.597171

In [44]:
# for t in tickers:
#     start='NaN'
#     if (d.index(dict[t]) + 35) < len(d):
#         start=d.index(dict[t]) + 35
#     if start!='NaN':
#         while start < len(df):
#             df_ann_volatility[t][start]=df_volatility[t][start]*math.sqrt(12)
#             start+=1

In [45]:
df_ann_volatility.to_excel (r'Annual_Volatility_All_Stocks.xlsx')

In [46]:
start=(df_ann_volatility.index).tolist().index('1998-01')
n=len(df_ann_volatility)
reb_dates=(df_ann_volatility.index).tolist()
tickers=df_ann_volatility.columns
decile=int(len(tickers)/10)
q=df_ann_volatility.loc['1998-01']
q.to_excel (r'random.xlsx')

In [47]:
conservative_portfolio=pd.DataFrame(index=tickers)
speculative_portfolio=pd.DataFrame(index=tickers)
cons_pfolio=[]
spec_pfolio=[]
i=start
while i < n: 
    temp=df_ann_volatility.iloc[i].sort_values(ascending=True)[:decile]
    temp2=df_ann_volatility.iloc[i].sort_values(ascending=False)[:decile]
    conservative_portfolio[reb_dates[i]]=temp
    speculative_portfolio[reb_dates[i]]=temp2
    spec_pfolio.append(temp2.index)
    cons_pfolio.append(temp.index)
#     print(temp,reb_dates[i])
    i+=3

In [48]:
conservative_portfolio

,1998-01,1998-04,1998-07,1998-10,1999-01,1999-04,1999-07,1999-10,2000-01,2000-04,2000-07,2000-10
21st Century Management Services Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3M India Ltd.,38.078601,NaN,42.164372,40.597791,37.938594,38.223119,NaN,49.585632,NaN,NaN,NaN,NaN
Aafloat Textiles (India) Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aarti Drugs Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aarti Industries Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.929498
...,...,...,...,...,...,...,...,...,...,...,...,...
Zee Entertainment Enterprises Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZF Steering Gear (India) Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zodiac Clothing Company Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zodiac-Jrd-Mkj Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zuari Global Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
cons_price_portfolio=conservative_portfolio.copy()
col=list(conservative_portfolio) 
for j in range(len(col)):  
    if j==0:
        pol=cons_pfolio[j]
        for stock in pol:
            cons_price_portfolio[col[j]][stock]=df3[stock][col[j]]
    else:
        prepol=cons_pfolio[j-1]
        pol=cons_pfolio[j]
        for stock in pol:
            cons_price_portfolio[col[j]][stock]=df3[stock][col[j]]
        for stock in prepol:
            cons_price_portfolio[col[j]][stock]=df3[stock][col[j]]
last_pol=cons_pfolio[len(col)-1]
next_date=d[d.index(col[len(col)-1])+1]
cons_price_portfolio[next_date]=''
for stock in last_pol:
    cons_price_portfolio[next_date][stock]=df3[stock][next_date]

C:\Users\chashah4\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [50]:
spec_price_portfolio=speculative_portfolio.copy()
col=list(speculative_portfolio) 
for j in range(len(col)):  
    if j==0:
        pol=spec_pfolio[j]
        for stock in pol:
            spec_price_portfolio[col[j]][stock]=df3[stock][col[j]]
    else:
        prepol=spec_pfolio[j-1]
        pol=spec_pfolio[j]
        for stock in pol:
            spec_price_portfolio[col[j]][stock]=df3[stock][col[j]]
        for stock in prepol:
            spec_price_portfolio[col[j]][stock]=df3[stock][col[j]]
last_pol=spec_pfolio[len(col)-1]
next_date=d[d.index(col[len(col)-1])+1]
spec_price_portfolio[next_date]=''
for stock in last_pol:
    spec_price_portfolio[next_date][stock]=df3[stock][next_date]

C:\Users\chashah4\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [51]:
cons_price_portfolio.head()

,1998-01,1998-04,1998-07,1998-10,1999-01,1999-04,1999-07,1999-10,2000-01,2000-04,2000-07,2000-10,2000-11
21st Century Management Services Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3M India Ltd.,181.0,250.0,240.0,241.25,239.85,255.0,525.8,623.15,619.0,NaN,NaN,NaN,
Aafloat Textiles (India) Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
Aarti Drugs Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
Aarti Industries Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.94,3.54

In [52]:
stock_weights_cons = pd.DataFrame().reindex_like(conservative_portfolio)
stock_weights_spec = pd.DataFrame().reindex_like(speculative_portfolio)

In [53]:
tickers=speculative_portfolio.index
col=list(speculative_portfolio)
for j in range(len(col)):
    pol=spec_pfolio[j]
    c=5000
    for stock in pol:  
        stock_weights_spec[col[j]][stock]=int(c/df3[stock][col[j]])

In [54]:
tickers=conservative_portfolio.index
col=list(conservative_portfolio)
for j in range(len(col)):
    pol=cons_pfolio[j]
    c=5000
    for stock in pol:  
        stock_weights_cons[col[j]][stock]=int(c/df3[stock][col[j]])

In [55]:
stock_weights_cons.head()

,1998-01,1998-04,1998-07,1998-10,1999-01,1999-04,1999-07,1999-10,2000-01,2000-04,2000-07,2000-10
21st Century Management Services Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3M India Ltd.,27.0,NaN,20.0,20.0,20.0,19.0,NaN,8.0,NaN,NaN,NaN,NaN
Aafloat Textiles (India) Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aarti Drugs Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aarti Industries Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1700.0

In [56]:
tickers=conservative_portfolio.index
col=list(conservative_portfolio)
cons_ret=[]
for j in range(1,len(col)):
    prepol=cons_pfolio[j-1]
    r=0
    t=0
    for stock in prepol:
        print(df3[stock][col[j]],stock,col[j]  )
        r+=stock_weights_cons[col[j-1]][stock]* (df3[stock][col[j]] - df3[stock][col[j-1]])
        t+=stock_weights_cons[col[j-1]][stock]* df3[stock][col[j-1]]
    cons_ret.append(r*100/t)

544.5 Bosch Ltd. 1998-04
105.91 Ranbaxy Laboratories Ltd.- (Amalgamation) 1998-04
45.7 The Indian Hotels Company Ltd. 1998-04
19.0 Sundram Fasteners Ltd. 1998-04
158.14 Hindustan Unilever Ltd. 1998-04
66.16 Cummins India Ltd. 1998-04
119.29 ABB India Ltd. 1998-04
598.15 Bajaj Holdings & Investment Ltd. 1998-04
5.68 Dabur India Ltd. 1998-04
22.2 United Breweries (Holdings) Ltd. 1998-04
133.95 Colgate-Palmolive (India) Ltd. 1998-04
59.85 Hindustan Petroleum Corporation Ltd. 1998-04
6.1 Kajaria Ceramics Ltd. 1998-04
10.0 Maharashtra Seamless Ltd. 1998-04
26.34 Siemens Ltd. 1998-04
174.85 Tata Chemicals Ltd. 1998-04
20.23 Ambuja Cements Ltd. 1998-04
123.91 NIIT Ltd. 1998-04
27.92 Larsen & Toubro Ltd. 1998-04
2144.35 MRF Ltd. 1998-04
454.25 Nestle India Ltd. 1998-04
68.66 Grasim Industries Ltd. 1998-04
2.48 Sun Pharmaceutical Industries Ltd. 1998-04
507.8 Sanofi India Ltd. 1998-04
518.35 Ingersoll-Rand (India) Ltd. 1998-04
22.25 The Ramco Cements Ltd. 1998-04
42.53 Andhra Paper Ltd. 1998-04
11.06 Torrent Pharmaceuticals Ltd. 1998-04
6.81 Kansai Nerolac Paints Ltd. 1998-04
72.31 SKF India Ltd. 1998-04
253.05 Mahanagar Telephone Nigam Ltd. 1998-04
273.67 Tata Communications Ltd. 1998-04
354.98 Abbott India Ltd. 1998-04
13.05 Asian Paints Ltd. 1998-04
44.23 EIH Ltd. 1998-04
24.88 Supreme Industries Ltd. 1998-04
33.33 Bharat Petroleum Corporation Ltd. 1998-04
2.43 The Federal Bank Ltd. 1998-04
10.52 Jubilant Life Sciences Ltd. 1998-04
32.32 Housing Development Finance Corporation Ltd. 1998-04
219.71 Aditya Birla Nuvo Ltd. - (Amalgamated) 1998-04
53.25 Tata Motors Ltd. 1998-04
10.78 Tata Power Company Ltd. 1998-04
3.04 Navneet Education Ltd. 1998-04
42.04 Castrol India Ltd. 1998-04
12.55 Chambal Fertilisers & Chemicals Ltd. 1998-04
20.65 Nagarjuna Fertilizers & Chemicals Ltd. (Merged) 1998-04
64.1 Oriental Bank Of Commerce - (Amalgamated) 1998-04
838.4 Gillette India Ltd. 1998-04
27.18 State Bank Of India 1998-04
38.52 Gujarat Alkalies & Chemicals Ltd. 1998-04
250.0 3M India Ltd. 1998-04
10.6 JSW ISPAT Steel Ltd.(Amalgamation) 1998-04
110.1 Escorts Ltd. 1998-04
2.62 Ashok Leyland Ltd. 1998-04
85.28 Tata Steel Ltd. 1998-04
245.0 Lakshmi Machine Works Ltd. 1998-04
3.59 Balmer Lawrie & Company Ltd. 1998-04
64.56 Hindalco Industries Ltd. 1998-04
19.45 Mangalore Refinery & Petrochemicals Ltd. 1998-04
184.4 Reliance Infrastructure Ltd. 1998-04
168.45 Bayer CropScience Ltd. 1998-04
28.08 Max Financial Services Ltd. 1998-04
20.27 Cipla Ltd. 1998-04
42.03 Vardhman Textiles Ltd. 1998-04
9.35 E.I.D. Parry (India) Ltd. 1998-04
2.74 Bajaj Finance Ltd. 1998-04
17.58 ITC Ltd. 1998-04
41.04 Tata Consumer Products Ltd. 1998-04
117.68 Dr. Reddys Laboratories Ltd. 1998-04
23.62 Kesoram Industries Ltd. 1998-04
28.9 IFCI Ltd. 1998-04
11.62 Apollo Tyres Ltd. 1998-04
19.0 Gujarat Gas Company Ltd. - (Amalgamation) 1998-04
54.01 CRISIL Ltd. 1998-04
4.26 Voltas Ltd. 1998-04
65.75 Chennai Petroleum Corporation Ltd. 1998-04
92.59 Ranbaxy Laboratories Ltd.- (Amalgamation) 1998-07
27.58 The Indian Hotels Company Ltd. 1998-07
370.0 Bosch Ltd. 1998-07
20.1 United Breweries (Holdings) Ltd. 1998-07
41.58 Cummins India Ltd. 1998-07
170.09 Hindustan Unilever Ltd. 1998-07
14.5 Sundram Fasteners Ltd. 1998-07
101.65 GTL Ltd. 1998-07
656.35 Bajaj Holdings & Investment Ltd. 1998-07
7.63 Maharashtra Seamless Ltd. 1998-07
9.24 HSIL Ltd. 1998-07
127.6 Colgate-Palmolive (India) Ltd. 1998-07
46.91 Hindustan Petroleum Corporation Ltd. 1998-07
81.9 ABB India Ltd. 1998-07
9.15 Vikas WSP Ltd. 1998-07
4.74 Kajaria Ceramics Ltd. 1998-07
1903.25 MRF Ltd. 1998-07
15.25 Ambuja Cements Ltd. 1998-07
43.83 Grasim Industries Ltd. 1998-07
109.75 Tata Chemicals Ltd. 1998-07
0.37 Unitech Ltd. 1998-07
23.08 Larsen & Toubro Ltd. 1998-07
199.0 Clariant Chemicals (India) Ltd. 1998-07
276.67 Tata Communications Ltd. 1998-07
3.18 Kalpataru Power Transmission Ltd. 1998-07
21.87 The Ramco Cements Ltd. 1998-07
211.45 Mahanagar Telephone Nigam Ltd. 1998-07
78.77 Orchid Pharma Ltd. 1998-07
9.28 Torrent Pharmaceuticals Ltd. 1998-07
367.2 Ingersoll-Rand (India) Ltd. 1998-07
12.47 Asian Paints Ltd. 1998-07
24.93 EIH Ltd. 1998-07
26.67 Bharat Petroleum Corporation Ltd. 1998-07
3.16 Navneet Education Ltd. 1998-07
44.46 SKF India Ltd. 1998-07
27.4 Housing Development Finance Corporation Ltd. 1998-07
34.02 Andhra Paper Ltd. 1998-07
2.47 Sun Pharmaceutical Industries Ltd. 1998-07
8.5 Jubilant Life Sciences Ltd. 1998-07
8.56 Tata Power Company Ltd. 1998-07
4.82 Dabur India Ltd. 1998-07
418.0 Sanofi India Ltd. 1998-07
47.9 Oriental Bank Of Commerce - (Amalgamated) 1998-07
3.21 Balmer Lawrie & Company Ltd. 1998-07
443.55 Nestle India Ltd. 1998-07
11.65 Chambal Fertilisers & Chemicals Ltd. 1998-07
18.12 Gujarat Alkalies & Chemicals Ltd. 1998-07
354.98 Abbott India Ltd. 1998-07
25.27 Tata Motors Ltd. 1998-07
33.69 Castrol India Ltd. 1998-07
11.36 Alok Industries Ltd. 1998-07
19.79 State Bank Of India 1998-07
848.0 Gillette India Ltd. 1998-07
16.84 Siemens Ltd. 1998-07
8.25 Adani Enterprises Ltd. 1998-07
13.0 Apollo Hospitals Enterprise Ltd. 1998-07
52.33 Hindalco Industries Ltd. 1998-07
57.41 Tata Steel Ltd. 1998-07
15.15 Mangalore Refinery & Petrochemicals Ltd. 1998-07
22.06 Cipla Ltd. 1998-07
146.65 Reliance Infrastructure Ltd. 1998-07
14.15 ITC Ltd. 1998-07
9.27 Amara Raja Batteries Ltd. 1998-07
133.0 Lakshmi Machine Works Ltd. 1998-07
8.42 E.I.D. Parry (India) Ltd. 1998-07
30.25 Tata Consumer Products Ltd. 1998-07
1.83 The Federal Bank Ltd. 1998-07
17.44 Gujarat Gas Company Ltd. - (Amalgamation) 1998-07
48.6 CRISIL Ltd. 1998-07
21.75 IFCI Ltd. 1998-07
135.42 Aditya Birla Nuvo Ltd. - (Amalgamated) 1998-07
7.75 JSW ISPAT Steel Ltd.(Amalgamation) 1998-07
5.58 VIP Industries Ltd. 1998-07
14.3 Kesoram Industries Ltd. 1998-07
120.0 Bayer CropScience Ltd. 1998-07
19.11 Supreme Industries Ltd. 1998-07
18.0 Nagarjuna Fertilizers & Chemicals Ltd. (Merged) 1998-07
78.23 Ranbaxy Laboratories Ltd.- (Amalgamation) 1998-10
19.8 United Breweries (Holdings) Ltd. 1998-10
160.77 Hindustan Unilever Ltd. 1998-10
15.04 Sundram Fasteners Ltd. 1998-10
557.55 Bajaj Holdings & Investment Ltd. 1998-10
41.29 Cummins India Ltd. 1998-10
350.0 Bosch Ltd. 1998-10
7.2 Maharashtra Seamless Ltd. 1998-10
34.84 The Indian Hotels Company Ltd. 1998-10
79.58 Colgate-Palmolive (India) Ltd. 1998-10
9.48 HSIL Ltd. 1998-10
3.86 Kajaria Ceramics Ltd. 1998-10
246.0 Tata Communications Ltd. 1998-10
39.16 Hindustan Petroleum Corporation Ltd. 1998-10
11.94 Vikas WSP Ltd. 1998-10
3.65 Carborundum Universal Ltd. 1998-10
95.27 ABB India Ltd. 1998-10
1490.0 MRF Ltd. 1998-10
0.35 Unitech Ltd. 1998-10
13.2 Ambuja Cements Ltd. 1998-10
16.22 Larsen & Toubro Ltd. 1998-10
78.7 Orchid Pharma Ltd. 1998-10
3.79 Navneet Education Ltd. 1998-10
12.1 Chambal Fertilisers & Chemicals Ltd. 1998-10
84.0 Tata Chemicals Ltd. 1998-10
3.48 Balmer Lawrie & Company Ltd. 1998-10
21.2 Bharat Petroleum Corporation Ltd. 1998-10
151.1 Bayer CropScience Ltd. 1998-10
22.11 Housing Development Finance Corporation Ltd. 1998-10
203.34 Clariant Chemicals (India) Ltd. 1998-10
27.75 Grasim Industries Ltd. 1998-10
5.03 Elgi Equipments Ltd. 1998-10
5.28 HDFC Bank Ltd. 1998-10
9.52 Jubilant Life Sciences Ltd. 1998-10
7.95 Tata Power Company Ltd. 1998-10
3.45 Kalpataru Power Transmission Ltd. 1998-10
396.0 Ingersoll-Rand (India) Ltd. 1998-10
10.64 Alok Industries Ltd. 1998-10
6.98 Adani Enterprises Ltd. 1998-10
2.71 Sun Pharmaceutical Industries Ltd. 1998-10
38.85 Castrol India Ltd. 1998-10
47.0 CRISIL Ltd. 1998-10
21.37 The Ramco Cements Ltd. 1998-10
8.71 Torrent Pharmaceuticals Ltd. 1998-10
40.24 SKF India Ltd. 1998-10
34.31 Andhra Paper Ltd. 1998-10
828.75 Gillette India Ltd. 1998-10
484.3 Glaxosmithkline Consumer Healthcare Ltd. - (Ama 1998-10
5.42 Dabur India Ltd. 1998-10
12.21 Asian Paints Ltd. 1998-10
183.05 Mahanagar Telephone Nigam Ltd. 1998-10
417.1 Nestle India Ltd. 1998-10
415.2 Abbott India Ltd. 1998-10
314.5 Sanofi India Ltd. 1998-10
43.39 Hindalco Industries Ltd. 1998-10
13.7 Mangalore Refinery & Petrochemicals Ltd. 1998-10
39.95 Oriental Bank Of Commerce - (Amalgamated) 1998-10
14.59 State Bank Of India 1998-10
150.35 Reliance Infrastructure Ltd. 1998-10
12.45 Apollo Hospitals Enterprise Ltd. 1998-10
46.04 Tata Steel Ltd. 1998-10
21.72 Tata Motors Ltd. 1998-10
27.71 EIH Ltd. 1998-10
30.07 Tata Consumer Products Ltd. 1998-10
14.91 IFCI Ltd. 1998-10
2.37 Bajaj Finance Ltd. 1998-10
6.0 Greaves Cotton Ltd. 1998-10
15.47 ITC Ltd. 1998-10
24.34 Cipla Ltd. 1998-10
19.43 Gujarat Gas Company Ltd. - (Amalgamation) 1998-10
6.47 E.I.D. Parry (India) Ltd. 1998-10
14.65 Nagarjuna Fertilizers & Chemicals Ltd. (Merged) 1998-10
241.25 3M India Ltd. 1998-10
5.1 JSW ISPAT Steel Ltd.(Amalgamation) 1998-10
17.95 Siemens Ltd. 1998-10
14.6 Gujarat Alkalies & Chemicals Ltd. 1998-10
1.15 The Federal Bank Ltd. 1998-10
98.91 Ranbaxy Laboratories Ltd.- (Amalgamation) 1999-01
194.18 Hindustan Unilever Ltd. 1999-01
7.5 Maharashtra Seamless Ltd. 1999-01
17.0 Sundram Fasteners Ltd. 1999-01
366.0 Bosch Ltd. 1999-01
3.39 Kajaria Ceramics Ltd. 1999-01
10.14 HSIL Ltd. 1999-01
505.0 Bajaj Holdings & Investment Ltd. 1999-01
3.2 Carborundum Universal Ltd. 1999-01
250.0 Tata Communications Ltd. 1999-01
31.6 The Indian Hotels Company Ltd. 1999-01
21.5 United Breweries (Holdings) Ltd. 1999-01
1.56 Amtek Auto Ltd. 1999-01
33.85 Hindustan Petroleum Corporation Ltd. 1999-01
0.33 Unitech Ltd. 1999-01
88.25 Colgate-Palmolive (India) Ltd. 1999-01
1829.0 MRF Ltd. 1999-01
101.2 ABB India Ltd. 1999-01
70.6 Orchid Pharma Ltd. 1999-01
11.95 Chambal Fertilisers & Chemicals Ltd. 1999-01
5.7 Greaves Cotton Ltd. 1999-01
2.59 Balmer Lawrie & Company Ltd. 1999-01
191.0 Clariant Chemicals (India) Ltd. 1999-01
79.1 Tata Chemicals Ltd. 1999-01
249.8 Bayer CropScience Ltd. 1999-01
689.05 Glaxosmithkline Consumer Healthcare Ltd. - (Ama 1999-01
17.06 Ambuja Cements Ltd. 1999-01
8.44 Jubilant Life Sciences Ltd. 1999-01
24.89 Housing Development Finance Corporation Ltd. 1999-01
33.97 Andhra Paper Ltd. 1999-01
8.33 Tata Power Company Ltd. 1999-01
9.63 Dabur India Ltd. 1999-01
7.12 Adani Enterprises Ltd. 1999-01
17.56 Bharat Petroleum Corporation Ltd. 1999-01
51.69 Castrol India Ltd. 1999-01
20.89 Larsen & Toubro Ltd. 1999-01
514.0 Ingersoll-Rand (India) Ltd. 1999-01
2.52 Sun Pharmaceutical Industries Ltd. 1999-01
9.18 Torrent Pharmaceuticals Ltd. 1999-01
22.66 IDBI Bank Ltd. 1999-01
150.65 Reliance Infrastructure Ltd. 1999-01
10.96 Asian Paints Ltd. 1999-01
905.0 Gillette India Ltd. 1999-01
52.52 SKF India Ltd. 1999-01
6.07 HDFC Bank Ltd. 1999-01
5.41 Elgi Equipments Ltd. 1999-01
42.0 CRISIL Ltd. 1999-01
514.0 Nestle India Ltd. 1999-01
12.5 Apollo Hospitals Enterprise Ltd. 1999-01
17.65 The Ramco Cements Ltd. 1999-01
12.6 Mangalore Refinery & Petrochemicals Ltd. 1999-01
175.95 Mahanagar Telephone Nigam Ltd. 1999-01
36.15 Oriental Bank Of Commerce - (Amalgamated) 1999-01
15.36 Vikas WSP Ltd. 1999-01
3.65 Kalpataru Power Transmission Ltd. 1999-01
37.39 Thomas Cook (India) Ltd. 1999-01
2.95 Bajaj Finance Ltd. 1999-01
37.8 Tata Consumer Products Ltd. 1999-01
239.85 3M India Ltd. 1999-01
6.16 Navneet Education Ltd. 1999-01
28.4 Cipla Ltd. 1999-01
64.85 Tata Steel Ltd. 1999-01
40.61 Tata Motors Ltd. 1999-01
17.18 Gujarat Alkalies & Chemicals Ltd. 1999-01
535.0 Abbott India Ltd. 1999-01
17.93 ITC Ltd. 1999-01
73.07 Britannia Industries Ltd. 1999-01
13.58 Alok Industries Ltd. 1999-01
13.86 IFCI Ltd. 1999-01
15.75 State Bank Of India 1999-01
33.33 Vardhman Textiles Ltd. 1999-01
423.0 Pfizer Ltd. 1999-01
49.71 Cummins India Ltd. 1999-01
16.2 Nagarjuna Fertilizers & Chemicals Ltd. (Merged) 1999-01
8.52 E.I.D. Parry (India) Ltd. 1999-01
35.0 Grasim Industries Ltd. 1999-01
4.19 Kansai Nerolac Paints Ltd. 1999-01
8.0 Maharashtra Seamless Ltd. 1999-04
178.14 Ranbaxy Laboratories Ltd.- (Amalgamation) 1999-04
206.45 Hindustan Unilever Ltd. 1999-04
512.95 Bajaj Holdings & Investment Ltd. 1999-04
18.5 Sundram Fasteners Ltd. 1999-04
360.0 Bosch Ltd. 1999-04
51.9 United Breweries (Holdings) Ltd. 1999-04
2.8 Kajaria Ceramics Ltd. 1999-04
10.32 HSIL Ltd. 1999-04
0.3 Unitech Ltd. 1999-04
5.5 Carborundum Universal Ltd. 1999-04
232.2 Tata Communications Ltd. 1999-04
58.4 ABB India Ltd. 1999-04
24.92 The Indian Hotels Company Ltd. 1999-04
1.63 Amtek Auto Ltd. 1999-04
27.44 Hindustan Petroleum Corporation Ltd. 1999-04
2.44 Balmer Lawrie & Company Ltd. 1999-04
11.0 Chambal Fertilisers & Chemicals Ltd. 1999-04
97.5 Colgate-Palmolive (India) Ltd. 1999-04
1238.95 Gillette India Ltd. 1999-04
73.73 Orchid Pharma Ltd. 1999-04
3.79 Greaves Cotton Ltd. 1999-04
200.0 Clariant Chemicals (India) Ltd. 1999-04
6.56 Jubilant Life Sciences Ltd. 1999-04
20.4 Housing Development Finance Corporation Ltd. 1999-04
23.4 Andhra Paper Ltd. 1999-04
452.0 Ingersoll-Rand (India) Ltd. 1999-04
192.4 Bayer CropScience Ltd. 1999-04
51.75 Castrol India Ltd. 1999-04
139.9 Reliance Infrastructure Ltd. 1999-04
6.48 HDFC Bank Ltd. 1999-04
9.06 IDBI Bank Ltd. 1999-04
1632.95 MRF Ltd. 1999-04
8.66 Asian Paints Ltd. 1999-04
12.25 Adani Enterprises Ltd. 1999-04
6.27 Tata Power Company Ltd. 1999-04
14.13 Bharat Petroleum Corporation Ltd. 1999-04
4.55 Elgi Equipments Ltd. 1999-04
9.9 Mangalore Refinery & Petrochemicals Ltd. 1999-04
592.0 Glaxosmithkline Consumer Healthcare Ltd. - (Ama 1999-04
9.81 Torrent Pharmaceuticals Ltd. 1999-04
255.0 3M India Ltd. 1999-04
3.69 Sun Pharmaceutical Industries Ltd. 1999-04
18.33 Ambuja Cements Ltd. 1999-04
27.25 Oriental Bank Of Commerce - (Amalgamated) 1999-04
21.29 ITC Ltd. 1999-04
61.22 Thomas Cook (India) Ltd. 1999-04
519.7 Nestle India Ltd. 1999-04
21.78 Larsen & Toubro Ltd. 1999-04
99.8 Britannia Industries Ltd. 1999-04
16.12 The Ramco Cements Ltd. 1999-04
3.85 Kalpataru Power Transmission Ltd. 1999-04
45.0 CRISIL Ltd. 1999-04
157.0 Mahanagar Telephone Nigam Ltd. 1999-04
36.53 Cipla Ltd. 1999-04
14.88 Apollo Hospitals Enterprise Ltd. 1999-04
14.93 State Bank Of India 1999-04
2.53 Bajaj Finance Ltd. 1999-04
49.84 SKF India Ltd. 1999-04
37.75 Tata Consumer Products Ltd. 1999-04
36.19 Vikas WSP Ltd. 1999-04
26.33 Vardhman Textiles Ltd. 1999-04
612.1 Abbott India Ltd. 1999-04
514.38 Pfizer Ltd. 1999-04
10.64 IFCI Ltd. 1999-04
60.6 Tata Chemicals Ltd. 1999-04
3.68 Cholamandalam Investment & Finance Company Ltd. 1999-04
15.25 Nagarjuna Fertilizers & Chemicals Ltd. (Merged) 1999-04
44.43 Cummins India Ltd. 1999-04
4.26 Kansai Nerolac Paints Ltd. 1999-04
11.09 Alok Industries Ltd. 1999-04

7.19 E.I.D. Parry (India) Ltd. 1999-04
11.81 Dewan Housing Finance Corporation Ltd. 1999-04
14.8 Deepak Fertilisers & Petrochemicals Corporation 1999-04
10.72 Dabur India Ltd. 1999-04
0.76 The Federal Bank Ltd. 1999-04
32.5 Chennai Petroleum Corporation Ltd. 1999-04
8.5 Maharashtra Seamless Ltd. 1999-07
26.75 Sundram Fasteners Ltd. 1999-07
357.28 Tata Communications Ltd. 1999-07
535.03 Bosch Ltd. 1999-07
273.01 Hindustan Unilever Ltd. 1999-07
17.04 Indian Oil Corporation Ltd. 1999-07
37.61 Hindustan Petroleum Corporation Ltd. 1999-07
4.55 Cholamandalam Investment & Finance Company Ltd. 1999-07
497.35 Bajaj Holdings & Investment Ltd. 1999-07
0.36 Unitech Ltd. 1999-07
14.04 Asian Paints Ltd. 1999-07
21.66 HSIL Ltd. 1999-07
21.66 Bharat Petroleum Corporation Ltd. 1999-07
2315.75 MRF Ltd. 1999-07
32.46 The Indian Hotels Company Ltd. 1999-07
3.05 Balmer Lawrie & Company Ltd. 1999-07
120.2 Colgate-Palmolive (India) Ltd. 1999-07
14.05 Chambal Fertilisers & Chemicals Ltd. 1999-07
54.03 Castrol India Ltd. 1999-07
156.6 Reliance Infrastructure Ltd. 1999-07
22.34 ITC Ltd. 1999-07
53.0 CRISIL Ltd. 1999-07
40.4 Oriental Bank Of Commerce - (Amalgamated) 1999-07
6.81 Jubilant Life Sciences Ltd. 1999-07
24.31 Housing Development Finance Corporation Ltd. 1999-07
2.53 Amtek Auto Ltd. 1999-07
3.09 Kajaria Ceramics Ltd. 1999-07
525.9 Ingersoll-Rand (India) Ltd. 1999-07
4.91 Greaves Cotton Ltd. 1999-07
87.78 Britannia Industries Ltd. 1999-07
210.4 Mahanagar Telephone Nigam Ltd. 1999-07
25.84 The Ramco Cements Ltd. 1999-07
81.05 ABB India Ltd. 1999-07
7.78 Tata Power Company Ltd. 1999-07
37.83 Vardhman Textiles Ltd. 1999-07
25.46 Ambuja Cements Ltd. 1999-07
17.4 Mangalore Refinery & Petrochemicals Ltd. 1999-07
188.1 BASF India Ltd. 1999-07
525.8 3M India Ltd. 1999-07
66.25 Tata Chemicals Ltd. 1999-07
2.71 Bajaj Finance Ltd. 1999-07
597.4 Nestle India Ltd. 1999-07
49.88 Cipla Ltd. 1999-07
4.95 Kansai Nerolac Paints Ltd. 1999-07
43.7 Chennai Petroleum Corporation Ltd. 1999-07
620.25 Glaxosmithkline Consumer Healthcare Ltd. - (Ama 1999-07
7.39 HLV Ltd. 1999-07
1.02 The Federal Bank Ltd. 1999-07
11.58 Tata Coffee Ltd. 1999-07
46.73 Andhra Paper Ltd. 1999-07
10.65 Gujarat State Fertilizers & Chemicals Ltd. 1999-07
72.67 Tata Investment Corporation Ltd. 1999-07
10.9 IFCI Ltd. 1999-07
36.01 Larsen & Toubro Ltd. 1999-07
11.82 Torrent Pharmaceuticals Ltd. 1999-07
73.69 SKF India Ltd. 1999-07
172.29 Bayer CropScience Ltd. 1999-07
6.51 Elgi Equipments Ltd. 1999-07
4.0 Kalpataru Power Transmission Ltd. 1999-07
8.5 HDFC Bank Ltd. 1999-07
574.45 Abbott India Ltd. 1999-07
18.3 Nagarjuna Fertilizers & Chemicals Ltd. (Merged) 1999-07
36.0 Birla Corporation Ltd. 1999-07
114.1 Escorts Ltd. 1999-07
14.72 Alok Industries Ltd. 1999-07
7.01 Carborundum Universal Ltd. 1999-07
68.71 Cummins India Ltd. 1999-07
8.33 LIC Housing Finance Ltd. 1999-07
13.52 Dabur India Ltd. 1999-07
26.98 Kesoram Industries Ltd. 1999-07
1568.2 Gillette India Ltd. 1999-07
1.38 Nava Bharat Ventures Ltd. 1999-07
72.54 Hindalco Industries Ltd. 1999-07
40.33 Tata Consumer Products Ltd. 1999-07
33.4 Arvind Ltd. 1999-07
17.65 Deepak Fertilisers & Petrochemicals Corporation 1999-07
9.47 IDBI Bank Ltd. 1999-07
12.55 Maharashtra Seamless Ltd. 1999-10
5.07 Cholamandalam Investment & Finance Company Ltd. 1999-10
231.95 Hindustan Unilever Ltd. 1999-10
36.5 Sundram Fasteners Ltd. 1999-10
0.37 Unitech Ltd. 1999-10
445.85 Bajaj Holdings & Investment Ltd. 1999-10
7.33 Jubilant Life Sciences Ltd. 1999-10
454.63 Tata Communications Ltd. 1999-10
3.4 Balmer Lawrie & Company Ltd. 1999-10
43.39 Castrol India Ltd. 1999-10
35.74 Hindustan Petroleum Corporation Ltd. 1999-10
31.77 The Indian Hotels Company Ltd. 1999-10
160.9 Reliance Infrastructure Ltd. 1999-10
15.25 Chambal Fertilisers & Chemicals Ltd. 1999-10
2191.65 MRF Ltd. 1999-10
15.71 ITC Ltd. 1999-10
4.68 Greaves Cotton Ltd. 1999-10
26.33 Housing Development Finance Corporation Ltd. 1999-10
119.45 Colgate-Palmolive (India) Ltd. 1999-10
38.67 CRISIL Ltd. 1999-10
479.35 Ingersoll-Rand (India) Ltd. 1999-10
485.0 Bosch Ltd. 1999-10
16.31 Asian Paints Ltd. 1999-10
7.14 Tata Power Company Ltd. 1999-10
83.26 Britannia Industries Ltd. 1999-10
172.0 Mahanagar Telephone Nigam Ltd. 1999-10
22.57 Indian Oil Corporation Ltd. 1999-10
81.17 Tata Investment Corporation Ltd. 1999-10
3.26 Bajaj Finance Ltd. 1999-10
148.2 BASF India Ltd. 1999-10
4.59 Kajaria Ceramics Ltd. 1999-10
634.85 Glaxosmithkline Consumer Healthcare Ltd. - (Ama 1999-10
36.12 Ambuja Cements Ltd. 1999-10
41.65 Oriental Bank Of Commerce - (Amalgamated) 1999-10
42.6 Chennai Petroleum Corporation Ltd. 1999-10
80.71 ABB India Ltd. 1999-10
542.2 Nestle India Ltd. 1999-10
5.25 Kansai Nerolac Paints Ltd. 1999-10
39.27 Vardhman Textiles Ltd. 1999-10
13.25 IFCI Ltd. 1999-10
103.4 Cipla Ltd. 1999-10
22.85 Deepak Fertilisers & Petrochemicals Corporation 1999-10
55.45 Torrent Pharmaceuticals Ltd. 1999-10
160.0 Bayer CropScience Ltd. 1999-10
24.39 Bharat Petroleum Corporation Ltd. 1999-10
61.15 Tata Chemicals Ltd. 1999-10
36.41 The Ramco Cements Ltd. 1999-10
4.0 Kalpataru Power Transmission Ltd. 1999-10
16.5 Tata Coffee Ltd. 1999-10
5.71 HLV Ltd. 1999-10
10.02 Gujarat State Fertilizers & Chemicals Ltd. 1999-10
582.45 Abbott India Ltd. 1999-10
54.28 Tata Consumer Products Ltd. 1999-10
1276.05 Gillette India Ltd. 1999-10
2.03 Nava Bharat Ventures Ltd. 1999-10
9.27 HDFC Bank Ltd. 1999-10
18.11 Alok Industries Ltd. 1999-10
107.21 Piramal Enterprises Ltd. 1999-10
15.55 Nagarjuna Fertilizers & Chemicals Ltd. (Merged) 1999-10
7.02 LIC Housing Finance Ltd. 1999-10
4.74 Amtek Auto Ltd. 1999-10
43.87 Larsen & Toubro Ltd. 1999-10
9.91 IDBI Bank Ltd. 1999-10
1.14 The Federal Bank Ltd. 1999-10
608.77 Procter & Gamble Hygiene & Health Care Ltd. 1999-10
5.64 Elgi Equipments Ltd. 1999-10
65.0 Cummins India Ltd. 1999-10
160.4 Orchid Pharma Ltd. 1999-10
26.3 Arvind Ltd. 1999-10
505.2 Pfizer Ltd. 1999-10
62.74 Hindalco Industries Ltd. 1999-10
9.0 JSW ISPAT Steel Ltd.(Amalgamation) 1999-10
24.2 Adani Enterprises Ltd. 1999-10
15.76 Dabur India Ltd. 1999-10
66.0 SKF India Ltd. 1999-10
75.9 Reliance Capital Ltd. 1999-10
58.31 Andhra Paper Ltd. 1999-10
0.4 Unitech Ltd. 2000-01
358.7 Bajaj Holdings & Investment Ltd. 2000-01
244.0 Hindustan Unilever Ltd. 2000-01
38.77 Sundram Fasteners Ltd. 2000-01
2.86 Balmer Lawrie & Company Ltd. 2000-01
33.35 Housing Development Finance Corporation Ltd. 2000-01
43.78 Castrol India Ltd. 2000-01
37.76 Hindustan Petroleum Corporation Ltd. 2000-01
14.45 Chambal Fertilisers & Chemicals Ltd. 2000-01
2118.15 MRF Ltd. 2000-01
4.2 Greaves Cotton Ltd. 2000-01
620.95 Tata Communications Ltd. 2000-01
317.15 Ingersoll-Rand (India) Ltd. 2000-01
114.6 BASF India Ltd. 2000-01
7.95 Tata Power Company Ltd. 2000-01
98.63 Colgate-Palmolive (India) Ltd. 2000-01
46.35 Oriental Bank Of Commerce - (Amalgamated) 2000-01
5.88 Cholamandalam Investment & Finance Company Ltd. 2000-01
274.8 Mahanagar Telephone Nigam Ltd. 2000-01
64.97 CRISIL Ltd. 2000-01
474.2 Bosch Ltd. 2000-01
19.19 Asian Paints Ltd. 2000-01
20.6 Indian Oil Corporation Ltd. 2000-01
3.29 Bajaj Finance Ltd. 2000-01
493.4 Glaxosmithkline Consumer Healthcare Ltd. - (Ama 2000-01
15.38 ITC Ltd. 2000-01
400.5 Nestle India Ltd. 2000-01
3.55 Kalpataru Power Transmission Ltd. 2000-01
44.3 Chennai Petroleum Corporation Ltd. 2000-01
74.68 Britannia Industries Ltd. 2000-01
502.65 Abbott India Ltd. 2000-01
5.87 Jubilant Life Sciences Ltd. 2000-01
52.91 ABB India Ltd. 2000-01
41.8 Vardhman Textiles Ltd. 2000-01
31.85 Bharat Petroleum Corporation Ltd. 2000-01
115.87 Piramal Enterprises Ltd. 2000-01
202.55 Reliance Infrastructure Ltd. 2000-01
37.06 Ambuja Cements Ltd. 2000-01
134.83 Bayer CropScience Ltd. 2000-01
5.16 HLV Ltd. 2000-01
588.55 Pfizer Ltd. 2000-01
88.67 Tata Investment Corporation Ltd. 2000-01
11.12 Kajaria Ceramics Ltd. 2000-01
14.35 Nagarjuna Fertilizers & Chemicals Ltd. (Merged) 2000-01
10.55 IFCI Ltd. 2000-01
2093.05 Gillette India Ltd. 2000-01
8.84 Gujarat State Fertilizers & Chemicals Ltd. 2000-01
23.78 HDFC Bank Ltd. 2000-01
6.28 LIC Housing Finance Ltd. 2000-01
15.78 IDBI Bank Ltd. 2000-01
47.32 Adani Enterprises Ltd. 2000-01
44.76 Larsen & Toubro Ltd. 2000-01
2.3 The Federal Bank Ltd. 2000-01
6.74 Elgi Equipments Ltd. 2000-01
55.8 Tata Chemicals Ltd. 2000-01
21.9 Arvind Ltd. 2000-01
3.9 Shriram Transport Finance Company Ltd. 2000-01
205.0 Clariant Chemicals (India) Ltd. 2000-01
448.7 Procter & Gamble Hygiene & Health Care Ltd. 2000-01
65.92 Hindalco Industries Ltd. 2000-01
41.95 Gujarat Narmada Valley Fertilizers & Chemicals  2000-01
3.64 Marico Ltd. 2000-01
60.3 Schaeffler India Ltd. 2000-01
17.0 Tata Coffee Ltd. 2000-01
53.48 SKF India Ltd. 2000-01
4.51 Kansai Nerolac Paints Ltd. 2000-01
24.59 The Indian Hotels Company Ltd. 2000-01
48.23 Tata Consumer Products Ltd. 2000-01
192.95 Akzo Nobel India Ltd. 2000-01
78.24 Tata Steel Ltd. 2000-01
5.25 Carborundum Universal Ltd. 2000-01
949.3 Sanofi India Ltd. 2000-01
16.94 E.I.D. Parry (India) Ltd. 2000-01
619.0 3M India Ltd. 2000-01
19.23 Pidilite Industries Ltd. 2000-01
10.11 Exide Industries Ltd. 2000-01
11.67 Bharat Heavy Electricals Ltd. 2000-01
11.65 Dena Bank - (Amalgamated) 2000-04
23.77 Ashima Ltd. 2000-04
7.25 Tourism Finance Corporation Of India Ltd. 2000-04
356.05 Bajaj Holdings & Investment Ltd. 2000-04
239.8 Hindustan Unilever Ltd. 2000-04
28.25 Sundram Fasteners Ltd. 2000-04
11.6 Bombay Burmah Trading Corporation Ltd. 2000-04
3.21 Can Fin Homes Ltd. 2000-04
12.0 India Lease Development Ltd. 2000-04
0.29 Unitech Ltd. 2000-04
8.64 Varun Shipping Company Ltd.-(Merged) 2000-04
31.0 Sundaram Finance Ltd. 2000-04
2.55 Shanthi Gears Ltd. 2000-04
65.0 Disa India Ltd. 2000-04
1044.4 MRF Ltd. 2000-04
47.24 Housing Development Finance Corporation Ltd. 2000-04
4.56 Tata Power Company Ltd. 2000-04
37.52 Castrol India Ltd. 2000-04
69.2 Kinetic Engineering Ltd. 2000-04
299.0 Force Motors Ltd. 2000-04
8.81 The Lakshmi Vilas Bank Ltd. 2000-04
17.6 Shamken Multifab Ltd. 2000-04
31.05 Hawkins Cookers Ltd. 2000-04
12.65 ITC Ltd. 2000-04
90.15 BASF India Ltd. 2000-04
29.7 Indian Card Clothing Company Ltd. 2000-04
3.76 Greaves Cotton Ltd. 2000-04
33.4 Oriental Bank Of Commerce - (Amalgamated) 2000-04
6.2 Ashapura Minechem Ltd. 2000-04
71.75 Colgate-Palmolive (India) Ltd. 2000-04
11.3 Chambal Fertilisers & Chemicals Ltd. 2000-04
369.2 Bosch Ltd. 2000-04
4.63 Oriental Aromatics Ltd. 2000-04
19.0 Universal Cables Ltd. 2000-04
195.25 Ingersoll-Rand (India) Ltd. 2000-04
325.7 Abbott India Ltd. 2000-04
22.5 HIL Ltd. 2000-04
17.3 First Leasing Company of India Ltd. 2000-04
11.04 Oriental Hotels Ltd. 2000-04
12.0 Garware Technical Fibres Ltd. 2000-04
324.85 Nestle India Ltd. 2000-04
4.05 Birla Machining & Toolings Ltd. (Amalgamation) 2000-04
13.38 Indian Oil Corporation Ltd. 2000-04
43.5 Maharashtra Scooters Ltd. 2000-04
6.75 Cheslind Textiles Ltd.- (Amalgamation) 2000-04
9.25 GHCL Ltd. 2000-04
24.86 Hindustan Petroleum Corporation Ltd. 2000-04
3.26 Kalpataru Power Transmission Ltd. 2000-04
4.85 Patspin India Ltd. 2000-04
16.96 Asian Paints Ltd. 2000-04
89.9 Asian Hotels (North) Ltd. 2000-04
31.33 Vardhman Textiles Ltd. 2000-04
342.05 Glaxosmithkline Consumer Healthcare Ltd. - (Ama 2000-04
5.0 Winsome Yarns Ltd. 2000-04
4.58 Jubilant Life Sciences Ltd. 2000-04
7.5 Tuticorin Alkali Chemicals & Fertilisers Ltd. 2000-04
441.68 Tata Communications Ltd. 2000-04
44.9 Panasonic Energy India Company Ltd. 2000-04
50.55 Britannia Industries Ltd. 2000-04
12.95 Nagarjuna Fertilizers & Chemicals Ltd. (Merged) 2000-04
28.7 Vardhman Polytex Ltd. 2000-04
7.25 GIC Housing Finance Ltd. 2000-04
57.0 Voith Paper Fabrics India Ltd. 2000-04
130.0 Swaraj Engines Ltd. 2000-04
7.85 IFCI Ltd. 2000-04
61.33 Tata Investment Corporation Ltd. 2000-04
8.0 Choksi Tube Company Ltd. 2000-04
19.45 Harrisons Malayalam Ltd. 2000-04
6.03 JMC Projects (India) Ltd. 2000-04
4.2 HLV Ltd. 2000-04
47.0 Eimco Elecon (India) Ltd. 2000-04
14.62 Bharat Petroleum Corporation Ltd. 2000-04
66.97 Shree Rajasthan Syntex Ltd. 2000-04
89.9 Bayer CropScience Ltd. 2000-04
258.7 Reliance Infrastructure Ltd. 2000-04
21.0 Andhra Sugars Ltd. 2000-04
5.36 LIC Housing Finance Ltd. 2000-04
9.55 Dena Bank - (Amalgamated) 2000-07
26.03 Ashima Ltd. 2000-07
39.73 Soundcraft Industries Ltd. 2000-07
8.0 Tourism Finance Corporation Of India Ltd. 2000-07
11.0 Bank Of India 2000-07
23.07 India Lease Development Ltd. 2000-07
12.28 Bombay Burmah Trading Corporation Ltd. 2000-07
0.28 Unitech Ltd. 2000-07
240.75 Hindustan Unilever Ltd. 2000-07
26.25 Sundaram Finance Ltd. 2000-07
50.59 Housing Development Finance Corporation Ltd. 2000-07
3.03 Can Fin Homes Ltd. 2000-07
96.48 Colgate-Palmolive (India) Ltd. 2000-07
11.11 Varun Shipping Company Ltd.-(Merged) 2000-07
2.17 Shanthi Gears Ltd. 2000-07
39.0 Maharashtra Scooters Ltd. 2000-07
8.34 The Lakshmi Vilas Bank Ltd. 2000-07
33.16 Castrol India Ltd. 2000-07
2.46 Greaves Cotton Ltd. 2000-07
22.2 Sundram Fasteners Ltd. 2000-07

31.65 Oriental Bank Of Commerce - (Amalgamated) 2000-07
71.75 Kinetic Engineering Ltd. 2000-07
34.1 Hawkins Cookers Ltd. 2000-07
31.3 Indian Card Clothing Company Ltd. 2000-07
6.6 Tuticorin Alkali Chemicals & Fertilisers Ltd. 2000-07
90.0 Disa India Ltd. 2000-07
11.35 Chambal Fertilisers & Chemicals Ltd. 2000-07
6.5 Cheslind Textiles Ltd.- (Amalgamation) 2000-07
353.45 Bajaj Holdings & Investment Ltd. 2000-07
16.49 ITC Ltd. 2000-07
7.5 Tata Power Company Ltd. 2000-07
7.9 GHCL Ltd. 2000-07
10.8 Oriental Hotels Ltd. 2000-07
18.85 Universal Cables Ltd. 2000-07
29.97 Vardhman Textiles Ltd. 2000-07
30.25 Vardhman Polytex Ltd. 2000-07
2.16 ISGEC Heavy Engineering Ltd. 2000-07
94.65 BASF India Ltd. 2000-07
16.55 First Leasing Company of India Ltd. 2000-07
3.04 Kalpataru Power Transmission Ltd. 2000-07
523.95 Nestle India Ltd. 2000-07
323.9 Bosch Ltd. 2000-07
4.0 Oriental Aromatics Ltd. 2000-07
23.2 HIL Ltd. 2000-07
5.35 Patspin India Ltd. 2000-07
12.59 Indian Oil Corporation Ltd. 2000-07
9.95 Nagarjuna Fertilizers & Chemicals Ltd. (Merged) 2000-07
73.25 Asian Hotels (North) Ltd. 2000-07
1078.2 MRF Ltd. 2000-07
25.51 Hindustan Petroleum Corporation Ltd. 2000-07
177.15 Ingersoll-Rand (India) Ltd. 2000-07
4.03 Jubilant Life Sciences Ltd. 2000-07
39.0 Panasonic Energy India Company Ltd. 2000-07
18.7 Asian Paints Ltd. 2000-07
431.95 Glaxosmithkline Consumer Healthcare Ltd. - (Ama 2000-07
8.6 Ashapura Minechem Ltd. 2000-07
4.55 HLV Ltd. 2000-07
47.0 Forbes  & Company Ltd. 2000-07
337.35 Abbott India Ltd. 2000-07
11.75 Garware Technical Fibres Ltd. 2000-07
6.2 IFCI Ltd. 2000-07
6.84 GIC Housing Finance Ltd. 2000-07
15.7 Harrisons Malayalam Ltd. 2000-07
19.0 Andhra Sugars Ltd. 2000-07
10.36 GAIL (India) Ltd. 2000-07
52.0 Eimco Elecon (India) Ltd. 2000-07
9.9 Winsome Yarns Ltd. 2000-07
65.27 Tata Investment Corporation Ltd. 2000-07
17.05 Tamilnadu Petroproducts Ltd. 2000-07
171.7 Mahanagar Telephone Nigam Ltd. 2000-07
103.75 Swaraj Engines Ltd. 2000-07
71.51 Britannia Industries Ltd. 2000-07
5.0 Choksi Tube Company Ltd. 2000-07
62.56 Bayer CropScience Ltd. 2000-07
284.75 Tata Communications Ltd. 2000-07
5.84 Gujarat State Fertilizers & Chemicals Ltd. 2000-07
7.07 JMC Projects (India) Ltd. 2000-07
35.67 Soundcraft Industries Ltd. 2000-10
8.3 Dena Bank - (Amalgamated) 2000-10
33.79 Ashima Ltd. 2000-10
23.25 Castrol India Ltd. 2000-10
11.45 Chambal Fertilisers & Chemicals Ltd. 2000-10
7.55 Tourism Finance Corporation Of India Ltd. 2000-10
31.3 Indian Card Clothing Company Ltd. 2000-10
9.7 Bank Of India 2000-10
177.9 Hindustan Unilever Ltd. 2000-10
3.03 Can Fin Homes Ltd. 2000-10
0.27 Unitech Ltd. 2000-10
47.03 Housing Development Finance Corporation Ltd. 2000-10
11.6 Bombay Burmah Trading Corporation Ltd. 2000-10
8.67 The Lakshmi Vilas Bank Ltd. 2000-10
21.13 Sundaram Finance Ltd. 2000-10
6.28 GIC Housing Finance Ltd. 2000-10
74.08 Colgate-Palmolive (India) Ltd. 2000-10
83.05 BASF India Ltd. 2000-10
5.8 Cheslind Textiles Ltd.- (Amalgamation) 2000-10
2.28 Shanthi Gears Ltd. 2000-10
8.2 GHCL Ltd. 2000-10
8.5 Nagarjuna Fertilizers & Chemicals Ltd. (Merged) 2000-10
5.0 IFCI Ltd. 2000-10
28.6 Oriental Bank Of Commerce - (Amalgamated) 2000-10
76.55 Asian Hotels (North) Ltd. 2000-10
1.6 Greaves Cotton Ltd. 2000-10
27.15 Maharashtra Scooters Ltd. 2000-10
15.65 Sundram Fasteners Ltd. 2000-10
31.15 Hawkins Cookers Ltd. 2000-10
55.7 Tuticorin Alkali Chemicals & Fertilisers Ltd. 2000-10
262.7 Bajaj Holdings & Investment Ltd. 2000-10
15.7 First Leasing Company of India Ltd. 2000-10
407.0 Glaxosmithkline Consumer Healthcare Ltd. - (Ama 2000-10
340.35 Bosch Ltd. 2000-10
3.65 KCP Sugar & Industries  Corporation Ltd. 2000-10
7.41 Oriental Hotels Ltd. 2000-10
16.88 ITC Ltd. 2000-10
3.05 Kalpataru Power Transmission Ltd. 2000-10
31.4 Vardhman Polytex Ltd. 2000-10
27.03 Vardhman Textiles Ltd. 2000-10
71.0 Kinetic Engineering Ltd. 2000-10
11.92 Varun Shipping Company Ltd.-(Merged) 2000-10
35.5 KSB Ltd. 2000-10
304.85 Abbott India Ltd. 2000-10
9.94 Indian Oil Corporation Ltd. 2000-10
7.6 Oil Country Tubular Ltd. 2000-10
4.25 Jubilant Life Sciences Ltd. 2000-10
13.35 Harrisons Malayalam Ltd. 2000-10
56.03 Tata Investment Corporation Ltd. 2000-10
76.85 Disa India Ltd. 2000-10
4.25 Patspin India Ltd. 2000-10
24.05 Andhra Sugars Ltd. 2000-10
1.9 ISGEC Heavy Engineering Ltd. 2000-10
137.15 Ingersoll-Rand (India) Ltd. 2000-10
13.85 Garware Technical Fibres Ltd. 2000-10
15.75 Dharamsi Morarji Chemical Company Ltd. 2000-10
16.57 Asian Paints Ltd. 2000-10
17.9 HIL Ltd. 2000-10
11.25 Mafatlal Industries Ltd. 2000-10
5.46 LIC Housing Finance Ltd. 2000-10
4.52 HLV Ltd. 2000-10
23.68 Hindustan Petroleum Corporation Ltd. 2000-10
2.8 Berger Paints India Ltd. 2000-10
93.52 Swaraj Engines Ltd. 2000-10
15.45 Tamilnadu Petroproducts Ltd. 2000-10
7.55 Tata Coffee Ltd. 2000-10
33.5 Panasonic Energy India Company Ltd. 2000-10
7.4 Ashapura Minechem Ltd. 2000-10
4.0 Oriental Aromatics Ltd. 2000-10
8.08 GAIL (India) Ltd. 2000-10
2.1 Balmer Lawrie & Company Ltd. 2000-10
75.64 Britannia Industries Ltd. 2000-10
585.9 Pfizer Ltd. 2000-10
4.27 Gujarat State Fertilizers & Chemicals Ltd. 2000-10
80.9 Apeejay Tea Ltd. (Amalgamated) 2000-10
17.8 Ambuja Cements Ltd. 2000-10
53.65 Forbes  & Company Ltd. 2000-10

In [57]:
last_date=col[len(col)-1]
last_pol=cons_pfolio[len(col)-1]
next_date=d[d.index(col[len(col)-1])+1]
r=0
t=0
for stock in last_pol:
    r+=stock_weights_cons[col[len(col)-1]][stock]*(df3[stock][next_date] - df3[stock][last_date])
    t+=stock_weights_cons[col[len(col)-1]][stock]*df3[stock][last_date]
cons_ret.append(r*100/t)

In [58]:
tickers=speculative_portfolio.index
col=list(speculative_portfolio)
spec_ret=[]
for j in range(1,len(col)):
    prepol=spec_pfolio[j-1]
    r=0
    t=0
    for stock in prepol:
        r+=stock_weights_spec[col[j-1]][stock]* (df3[stock][col[j]] - df3[stock][col[j-1]])
        t+=stock_weights_spec[col[j-1]][stock]* df3[stock][col[j-1]]
    spec_ret.append(r*100/t)

In [59]:
last_date=col[len(col)-1]
last_pol=spec_pfolio[len(col)-1]
next_date=d[d.index(col[len(col)-1])+1]
r=0
t=0
for stock in last_pol:
    r+=stock_weights_spec[col[len(col)-1]][stock]*(df3[stock][next_date] - df3[stock][last_date])
    t+=stock_weights_spec[col[len(col)-1]][stock]*df3[stock][last_date]
spec_ret.append(r*100/t)

In [60]:
cons_ret

[29.259973798100248,
 -18.15195458428989,
 -5.007017003615578,
 11.017166854005756,
 3.297157213240531,
 33.26520399401726,
 14.967554675291593,
 7.906725539896392,
 -9.92256610988619,
 1.6223401784678075,
 2.9735913668261036,
 6.459358953650703]

In [61]:
stock_weights_cons.to_excel (r'Weights_Conservative_All_Stocks.xlsx')
stock_weights_spec.to_excel (r'Weights_Speculative_All_Stocks.xlsx')
conservative_portfolio.loc['Equal_Weighted_Return']=cons_ret
speculative_portfolio.loc['Equal_Weighted_Return']=spec_ret
cons_ret.append(-1)
spec_ret.append(-1)
cons_price_portfolio.loc['Conservative Equal_Weighted_Return']=cons_ret
cons_price_portfolio.loc['Speculative Equal_Weighted_Return']=spec_ret
spec_price_portfolio.loc['Conservative Equal_Weighted_Return']=cons_ret
spec_price_portfolio.loc['Speculative Equal_Weighted_Return']=spec_ret

cons_price_portfolio.to_excel (r'Conservative_Portfolio_with_Prices_All_Stocks.xlsx')
spec_price_portfolio.to_excel (r'Speculative_Portfolio_with_Prices_All_Stocks.xlsx')

In [89]:
universe=pd.read_excel("MonthlyData1991-2003_AllStocks_WithMcap.xlsx")
universe

,Ticker,Date/Time,Open,High,Low,Close,Volume,MCap
0,3M India Ltd.,2001-12-01,268.0,279.00,268.00,275.05,0,310
1,3M India Ltd.,2002-01-31,267.0,279.90,245.00,258.40,0,291
2,3M India Ltd.,2002-02-28,259.0,310.00,255.00,272.50,0,307
3,3M India Ltd.,2002-03-28,274.0,353.00,266.55,307.75,0,347
4,3M India Ltd.,2002-04-30,310.0,336.00,297.20,317.85,0,358
...,...,...,...,...,...,...,...,...
36226,Zuari Global Ltd.,2003-08-29,28.9,46.75,28.70,37.85,0,111
36227,Zuari Global Ltd.,2003-09-30,37.0,44.50,31.00,37.15,0,109
36228,Zuari Global Ltd.,2003-10-31,37.5,41.00,31.10,35.20,0,104
36229,Zuari Global Ltd.,2003-11-28,35.5,47.90,33.30,45.40,0,134
36230,Zuari Global Ltd.,2003-12-31,47.4,66.50,44.80,57.30,0,169

In [90]:
universe.dropna(inplace=True)

In [91]:
for i in range(len(universe)):
    universe['Date/Time'][i]=universe['Date/Time'][i].strftime('%Y-%m')

C:\Users\chashah4\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\chashah4\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [92]:
date=universe['Date/Time'].tolist()
d = []
[d.append(x) for x in date if x not in d]
d=sorted(d)
a=d[0]
b=d[len(d)-1]
a,b

('1995-01', '2003-12')

In [93]:
df=pd.DataFrame()
df2=pd.DataFrame()
df3=pd.DataFrame()

In [94]:
df2['Date']=d
df['Date']=d
df3['Date']=d

In [95]:
dict={}
dict2={}
print(len(d))

108

In [96]:
i=0
while i <= (len(universe)-1):
    t=universe['Ticker'][i]
    mcap=[]
    start=universe['Date/Time'][i]
    x=d.index(start)
    print(x,start)
    if start!=a: 
        x=d.index(start)
        for q in range(x):
            mcap.append(0)
    e=[]
    e=d[x:]
    dict[t]=universe['Date/Time'][i]
    j=0
    while j < len(e)  :
        mcap.append(universe['MCap'][i])
        j+=1
        i+=1
        if i == len(universe):
             break
    df[t]=np.array(mcap)

83 2001-12
60 2000-01
51 1999-04
99 2003-04
24 1997-01
83 2001-12
61 2000-02
32 1997-09
83 2001-12
83 2001-12
83 2001-12
88 2002-05
83 2001-12
83 2001-12
67 2000-08
26 1997-03
83 2001-12
83 2001-12
24 1997-01
78 2001-07
67 2000-08
24 1997-01
42 1998-07
89 2002-06
94 2002-11
75 2001-04
49 1999-02
83 2001-12
27 1997-04
58 1999-11
24 1997-01
83 2001-12
98 2003-03
39 1998-04
53 1999-06
83 2001-12
39 1998-04
38 1998-03
1 1995-02
80 2001-09
83 2001-12
92 2002-09
50 1999-03
82 2001-11
50 1999-03
50 1999-03
38 1998-03
52 1999-05
29 1997-06
2 1995-03
83 2001-12
83 2001-12
83 2001-12
26 1997-03
86 2002-03
44 1998-09
26 1997-03
38 1998-03
24 1997-01
24 1997-01
92 2002-09
60 2000-01
70 2000-11
83 2001-12
93 2002-10
70 2000-11
81 2001-10
43 1998-08
1 1995-02
48 1999-01
26 1997-03
29 1997-06
84 2002-01
78 2001-07
25 1997-02
28 1997-05
24 1997-01
0 1995-01
24 1997-01
96 2003-01
27 1997-04
89 2002-06
31 1997-08
24 1997-01
24 1997-01
24 1997-01
24 1997-01
0 1995-01
89 2002-06
103 2003-08
83 2001-12
35 1997-12
52 1999-05
56 1999-09
24 1997-01
26 1997-03
60 2000-01
34 1997-11
46 1998-11
105 2003-10
58 1999-11
64 2000-05
83 2001-12
30 1997-07
103 2003-08
83 2001-12
72 2001-01
102 2003-07
93 2002-10
94 2002-11
83 2001-12
60 2000-01
83 2001-12
50 1999-03
63 2000-04
24 1997-01
24 1997-01
90 2002-07
95 2002-12
93 2002-10
89 2002-06
81 2001-10
102 2003-07
93 2002-10
37 1998-02
50 1999-03
9 1995-10
79 2001-08
85 2002-02
96 2003-01
26 1997-03
102 2003-07
27 1997-04
24 1997-01
0 1995-01
84 2002-01
83 2001-12
92 2002-09
83 2001-12
64 2000-05
26 1997-03
93 2002-10
37 1998-02
93 2002-10
6 1995-07
64 2000-05
93 2002-10
92 2002-09
44 1998-09
24 1997-01
61 2000-02
84 2002-01
84 2002-01
83 2001-12
87 2002-04
83 2001-12
28 1997-05
36 1998-01
83 2001-12
62 2000-03
62 2000-03
83 2001-12
81 2001-10
98 2003-03
44 1998-09
83 2001-12
0 1995-01
83 2001-12
24 1997-01
24 1997-01
69 2000-10
98 2003-03
50 1999-03
24 1997-01
61 2000-02
83 2001-12
24 1997-01
24 1997-01
39 1998-04
41 1998-06
94 2002-11
25 1997-02
37 1998-02
94 2002-11
30 1997-07
50 1999-03
24 1997-01
84 2002-01
83 2001-12
100 2003-05
78 2001-07
83 2001-12
24 1997-01
68 2000-09
75 2001-04
38 1998-03
24 1997-01
75 2001-04
44 1998-09
95 2002-12
66 2000-07
49 1999-02
26 1997-03
83 2001-12
106 2003-11
83 2001-12
81 2001-10
48 1999-01
84 2002-01
24 1997-01
58 1999-11
26 1997-03
93 2002-10
94 2002-11
93 2002-10
93 2002-10
40 1998-05
58 1999-11
63 2000-04
83 2001-12
83 2001-12
38 1998-03
26 1997-03
83 2001-12
98 2003-03
83 2001-12
90 2002-07
86 2002-03
83 2001-12
105 2003-10
83 2001-12
46 1998-11
92 2002-09
24 1997-01
52 1999-05
84 2002-01
101 2003-06
63 2000-04
83 2001-12
26 1997-03
77 2001-06
24 1997-01
19 1996-08
24 1997-01
93 2002-10
63 2000-04
90 2002-07
38 1998-03
25 1997-02
33 1997-10
38 1998-03
26 1997-03
106 2003-11
84 2002-01
83 2001-12
80 2001-09
96 2003-01
60 2000-01
60 2000-01
41 1998-06
39 1998-04
101 2003-06
83 2001-12
95 2002-12
83 2001-12
15 1996-04
25 1997-02
54 1999-07
101 2003-06
83 2001-12
83 2001-12
77 2001-06
47 1998-12
60 2000-01
24 1997-01
18 1996-07
5 1995-06
83 2001-12
100 2003-05
84 2002-01
89 2002-06
43 1998-08
48 1999-01
92 2002-09
73 2001-02
38 1998-03
42 1998-07
38 1998-03
26 1997-03
93 2002-10
0 1995-01
103 2003-08
83 2001-12
0 1995-01
46 1998-11
24 1997-01
83 2001-12
90 2002-07
83 2001-12
38 1998-03
100 2003-05
4 1995-05
83 2001-12
24 1997-01
93 2002-10
94 2002-11
62 2000-03
54 1999-07
27 1997-04
24 1997-01
32 1997-09
83 2001-12
107 2003-12
83 2001-12
83 2001-12
83 2001-12
90 2002-07
83 2001-12
71 2000-12
38 1998-03
75 2001-04
71 2000-12
106 2003-11
83 2001-12
98 2003-03
75 2001-04
93 2002-10
43 1998-08
84 2002-01
26 1997-03
25 1997-02
24 1997-01
107 2003-12
93 2002-10
90 2002-07
83 2001-12
83 2001-12
88 2002-05
50 1999-03
102 2003-07
83 2001-12
75 2001-04
0 1995-01
83 2001-12
55 1999-08
106 2003-11
83 2001-12
75 2001-04
84 2002-01
62 2000-03
83 2001-12
30 1997-07
24 1997-01
26 1997-03
91 2002-08
93 2002-10
91 2002-08
38 1998-03
39 1998-04
38 1998-03
39 1998-04
106 2003-11
93 2002-10
94 2002-11
38 1998-03
43 1998-08
52 1999-05
34 1997-11
93 2002-10
60 2000-01
24 1997-01
58 1999-11
84 2002-01
83 2001-12
104 2003-09
59 1999-12
107 2003-12
83 2001-12
85 2002-02
61 2000-02
26 1997-03
38 1998-03
39 1998-04
88 2002-05
66 2000-07
83 2001-12
36 1998-01
54 1999-07
84 2002-01
83 2001-12
53 1999-06
27 1997-04
60 2000-01
34 1997-11
41 1998-06
63 2000-04
47 1998-12
97 2003-02
83 2001-12
93 2002-10
40 1998-05
95 2002-12
26 1997-03
38 1998-03
24 1997-01
8 1995-09
85 2002-02
84 2002-01
84 2002-01
84 2002-01
83 2001-12
24 1997-01
82 2001-11
26 1997-03
24 1997-01
24 1997-01
28 1997-05
105 2003-10
83 2001-12
83 2001-12
93 2002-10
95 2002-12
60 2000-01
26 1997-03
84 2002-01
24 1997-01
27 1997-04
83 2001-12
103 2003-08
44 1998-09
77 2001-06
59 1999-12
83 2001-12
83 2001-12
87 2002-04
37 1998-02
92 2002-09
83 2001-12
60 2000-01
67 2000-08
83 2001-12
83 2001-12
83 2001-12
78 2001-07
94 2002-11
84 2002-01
37 1998-02
47 1998-12
84 2002-01
61 2000-02
62 2000-03
24 1997-01
62 2000-03
81 2001-10
16 1996-05
93 2002-10
45 1998-10
56 1999-09
75 2001-04
24 1997-01
27 1997-04
41 1998-06
27 1997-04
60 2000-01
84 2002-01
90 2002-07
93 2002-10
94 2002-11
83 2001-12
65 2000-06
70 2000-11
78 2001-07
106 2003-11
93 2002-10
69 2000-10
93 2002-10
88 2002-05
93 2002-10
86 2002-03
39 1998-04
101 2003-06
38 1998-03
31 1997-08
32 1997-09
75 2001-04
104 2003-09
83 2001-12
38 1998-03
97 2003-02
7 1995-08
45 1998-10
28 1997-05
75 2001-04
53 1999-06
24 1997-01
77 2001-06
93 2002-10
94 2002-11
72 2001-01
72 2001-01
75 2001-04
44 1998-09
90 2002-07
67 2000-08
83 2001-12
83 2001-12
26 1997-03
91 2002-08
83 2001-12
67 2000-08
83 2001-12
83 2001-12
70 2000-11
99 2003-04
83 2001-12
98 2003-03
103 2003-08
38 1998-03
84 2002-01
97 2003-02
86 2002-03
90 2002-07
83 2001-12
38 1998-03
83 2001-12
53 1999-06
84 2002-01
2 1995-03
71 2000-12
39 1998-04
96 2003-01
50 1999-03
59 1999-12
94 2002-11
75 2001-04
35 1997-12
24 1997-01
83 2001-12
78 2001-07
104 2003-09
91 2002-08
107 2003-12
84 2002-01
24 1997-01
88 2002-05
60 2000-01
24 1997-01
84 2002-01
84 2002-01
55 1999-08
65 2000-06
33 1997-10
80 2001-09
58 1999-11
75 2001-04
29 1997-06
91 2002-08
24 1997-01
66 2000-07
0 1995-01
74 2001-03
84 2002-01
100 2003-05
85 2002-02
94 2002-11
82 2001-11
60 2000-01
86 2002-03
39 1998-04
24 1997-01
24 1997-01
86 2002-03
96 2003-01
60 2000-01
15 1996-04
101 2003-06
83 2001-12
98 2003-03
83 2001-12
71 2000-12
83 2001-12
61 2000-02
83 2001-12
83 2001-12
60 2000-01
50 1999-03
93 2002-10
63 2000-04
83 2001-12
92 2002-09
59 1999-12
78 2001-07
66 2000-07
92 2002-09
83 2001-12
83 2001-12
24 1997-01
24 1997-01
83 2001-12
91 2002-08
91 2002-08
72 2001-01
87 2002-04
32 1997-09
74 2001-03
35 1997-12
92 2002-09
84 2002-01
83 2001-12
83 2001-12
91 2002-08
86 2002-03
83 2001-12
83 2001-12
26 1997-03
60 2000-01
42 1998-07
65 2000-06
83 2001-12
39 1998-04
87 2002-04
83 2001-12
83 2001-12
73 2001-02
87 2002-04
85 2002-02
83 2001-12
106 2003-11
83 2001-12
38 1998-03
51 1999-04
84 2002-01
75 2001-04
26 1997-03
94 2002-11
27 1997-04
24 1997-01
76 2001-05
85 2002-02
93 2002-10
35 1997-12
61 2000-02
24 1997-01
92 2002-09
56 1999-09
61 2000-02
60 2000-01
29 1997-06
27 1997-04
41 1998-06
36 1998-01
83 2001-12
46 1998-11
82 2001-11
84 2002-01
95 2002-12
94 2002-11
90 2002-07
85 2002-02
83 2001-12
38 1998-03
24 1997-01
45 1998-10
53 1999-06
27 1997-04
76 2001-05
87 2002-04
83 2001-12
24 1997-01
100 2003-05
38 1998-03
35 1997-12
99 2003-04
93 2002-10
88 2002-05
83 2001-12
41 1998-06
100 2003-05
104 2003-09
38 1998-03
90 2002-07
83 2001-12
62 2000-03
47 1998-12
96 2003-01
36 1998-01
95 2002-12
93 2002-10
35 1997-12
101 2003-06
60 2000-01
103 2003-08
83 2001-12
38 1998-03
93 2002-10
35 1997-12
88 2002-05
38 1998-03
105 2003-10
83 2001-12
83 2001-12
84 2002-01
83 2001-12
83 2001-12
106 2003-11
83 2001-12
24 1997-01
98 2003-03
26 1997-03
9 1995-10
20 1996-09
104 2003-09
0 1995-01
84 2002-01
0 1995-01
45 1998-10
9 1995-10
93 2002-10
106 2003-11
84 2002-01
98 2003-03
24 1997-01
2 1995-03
73 2001-02
0 1995-01
24 1997-01
96 2003-01
94 2002-11
83 2001-12
88 2002-05
64 2000-05
0 1995-01
64 2000-05
0 1995-01
68 2000-09
24 1997-01
15 1996-04
24 1997-01
83 2001-12
84 2002-01
24 1997-01
2 1995-03
43 1998-08
49 1999-02
75 2001-04
106 2003-11
81 2001-10
0 1995-01
103 2003-08
24 1997-01

44 1998-09
26 1997-03
60 2000-01
0 1995-01
84 2002-01
29 1997-06
105 2003-10
24 1997-01
49 1999-02
93 2002-10
40 1998-05
34 1997-11
63 2000-04
99 2003-04
24 1997-01
55 1999-08
30 1997-07
93 2002-10
86 2002-03
83 2001-12
84 2002-01
83 2001-12
83 2001-12
26 1997-03
38 1998-03
107 2003-12
60 2000-01
26 1997-03
86 2002-03
1 1995-02
89 2002-06
84 2002-01
83 2001-12
0 1995-01
92 2002-09
38 1998-03
74 2001-03
96 2003-01
57 1999-10
85 2002-02
24 1997-01
38 1998-03
98 2003-03
83 2001-12
83 2001-12
27 1997-04
100 2003-05
83 2001-12
42 1998-07
95 2002-12
94 2002-11
75 2001-04
95 2002-12
83 2001-12
26 1997-03
51 1999-04
24 1997-01
24 1997-01
83 2001-12
83 2001-12
38 1998-03
64 2000-05
78 2001-07
83 2001-12
61 2000-02
75 2001-04
27 1997-04
26 1997-03

In [97]:
df=df.set_index('Date')

In [98]:
df['3M India Ltd.']['2003-08']

422

In [99]:
df

,3M India Ltd.,3P Land Holdings Ltd.,Aarti Drugs Ltd.,Aban Offshore Ltd.,Aarti Industries Ltd.,Abbott India Ltd.,ACC Ltd.,ABB India Ltd.,Accelya Solutions India Ltd.,Adani Enterprises Ltd.,...,Wyeth Ltd.- (Amalgamated),Yokogawa India Ltd.,Yuken India Ltd.,Zenith Computers Ltd.,Zodiac Clothing Company Ltd.,Zodiac-Jrd-Mkj Ltd.,Zenith Infotech Ltd.,Zydus Healthcare Ltd.,Zandu Realty Ltd. - (Amalgamated),Zuari Global Ltd.
Date,,,,,,,,,,,,,,,,,,,,,
1995-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1995-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1995-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1995-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1995-05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003-08,422,19,99,209,129,3537,2691,2015,47,427,...,777,59,22,25,38,5,18,402,82,111
2003-09,464,18,108,268,189,3436,2646,2015,44,431,...,752,59,18,16,40,4,15,401,79,109
2003-10,468,24,122,273,195,3253,2716,2247,41,427,...,811,59,21,18,50,4,12,106,80,104
2003-11,561,24,112,355,181,4323,2500,2248,62,473,...,878,69,24,22,63,6,14,99,89,134
2003-12,583,33,94,361,275,3046,2445,2839,66,846,...,949,82,40,37,100,6,27,94,134,169

In [100]:
#df["total"] = df.sum(axis=1)

In [101]:
df

,3M India Ltd.,3P Land Holdings Ltd.,Aarti Drugs Ltd.,Aban Offshore Ltd.,Aarti Industries Ltd.,Abbott India Ltd.,ACC Ltd.,ABB India Ltd.,Accelya Solutions India Ltd.,Adani Enterprises Ltd.,...,Wyeth Ltd.- (Amalgamated),Yokogawa India Ltd.,Yuken India Ltd.,Zenith Computers Ltd.,Zodiac Clothing Company Ltd.,Zodiac-Jrd-Mkj Ltd.,Zenith Infotech Ltd.,Zydus Healthcare Ltd.,Zandu Realty Ltd. - (Amalgamated),Zuari Global Ltd.
Date,,,,,,,,,,,,,,,,,,,,,
1995-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1995-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1995-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1995-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1995-05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003-08,422,19,99,209,129,3537,2691,2015,47,427,...,777,59,22,25,38,5,18,402,82,111
2003-09,464,18,108,268,189,3436,2646,2015,44,431,...,752,59,18,16,40,4,15,401,79,109
2003-10,468,24,122,273,195,3253,2716,2247,41,427,...,811,59,21,18,50,4,12,106,80,104
2003-11,561,24,112,355,181,4323,2500,2248,62,473,...,878,69,24,22,63,6,14,99,89,134
2003-12,583,33,94,361,275,3046,2445,2839,66,846,...,949,82,40,37,100,6,27,94,134,169

In [109]:
start=(df.index).tolist().index('1998-01')
n=len(df)
reb_dates=(df.index).tolist()
tickers=df.columns

In [110]:
date=[]
stocks_50=[]
stocks_60=[]
stocks_70=[]
stocks_75=[]
stocks_80=[]
stocks_90=[]
stocks_95=[]
i=start
while i < n: 
    temp=np.array(df.iloc[i].sort_values(ascending=True))
    date.append(d[i])
    x_50=np.percentile(temp, 50)
    x_60=np.percentile(temp, 60)
    x_70=np.percentile(temp, 70)
    x_75=np.percentile(temp, 75)
    x_80=np.percentile(temp, 80)
    x_90=np.percentile(temp, 90)
    x_95=np.percentile(temp, 95)
    stock_50=0
    stock_60=0
    stock_70=0
    stock_75=0
    stock_80=0
    stock_90=0
    stock_95=0
    for j in temp:
        if j<=x_50:
            stock_50+=1
        if j<=x_60:
            stock_60+=1
        if j<=x_70:
            stock_70+=1
        if j<=x_75:
            stock_75+=1
        if j<=x_80:
            stock_80+=1
        if j<=x_90:
            stock_90+=1
        if j<=x_95:
            stock_95+=1
    stocks_50.append(stock_50)
    stocks_60.append(stock_60)
    stocks_70.append(stock_70)
    stocks_75.append(stock_75)
    stocks_80.append(stock_80)
    stocks_90.append(stock_90)
    stocks_95.append(stock_95)
#     print(temp,reb_dates[i])
    i+=3

In [111]:
date

['1998-01',
 '1998-04',
 '1998-07',
 '1998-10',
 '1999-01',
 '1999-04',
 '1999-07',
 '1999-10',
 '2000-01',
 '2000-04',
 '2000-07',
 '2000-10',
 '2001-01',
 '2001-04',
 '2001-07',
 '2001-10',
 '2002-01',
 '2002-04',
 '2002-07',
 '2002-10',
 '2003-01',
 '2003-04',
 '2003-07',
 '2003-10']

In [112]:
df2=pd.DataFrame()

In [113]:
df2['Date']=date

In [114]:
df2['50 Percentile']=stocks_50
df2['60 Percentile']=stocks_60
df2['70 Percentile']=stocks_70
df2['75 Percentile']=stocks_75
df2['80 Percentile']=stocks_80
df2['90 Percentile']=stocks_90
df2['95 Percentile']=stocks_95

In [115]:
df2=df2.set_index('Date')

In [116]:
df2

,50 Percentile,60 Percentile,70 Percentile,75 Percentile,80 Percentile,90 Percentile,95 Percentile
Date,,,,,,,
1998-01,630,630,630,630,656,736,777
1998-04,584,584,584,616,656,736,777
1998-07,571,571,572,616,656,736,777
1998-10,555,555,574,615,654,736,777
1999-01,544,544,573,613,654,736,777
1999-04,527,527,573,613,654,736,777
1999-07,515,515,574,613,654,736,777
1999-10,508,508,573,617,654,736,777
2000-01,477,491,572,613,654,736,777
2000-04,454,491,572,616,654,736,777
2000-07,441,491,574,614,654,736,777
2000-10,432,493,575,615,656,736,777
2001-01,420,493,572,613,654,736,777
2001-04,414,494,574,614,654,736,777
2001-07,410,492,572,613,654,736,777
2001-10,413,493,574,613,654,736,777
2002-01,412,493,572,615,654,736,777
2002-04,413,492,572,613,655,736,777
2002-07,410,493,572,614,654,736,777
2002-10,411,491,573,614,654,736,777
2003-01,411,491,572,613,654,736,777
2003-04,409,492,572,613,654,736,777
2003-07,409,493,572,614,654,736,777
2003-10,409,492,572,613,654,736,777

In [117]:
df2.to_excel (r'Universe with Percentile.xlsx')